<div class="question-box">
  <p><%= @question %></p>
  <p class="font-italic">- You</p>
</div>

<div class="answer-box">
  <p><%= @answer %></p>
  <p class="font-italic">- Your annoying teacher</p>
</div>

<%= link_to 'Ask another question', '/ask' %>

